{% extends 'basics.html' %}



{% block content %}
<p><h2>Про нас</h2></p>
    <h6><i><p>Bike Web - онлайн магазин спрямований з простішим пошуком та простішою покупкою велосипедів.</p></i></h6>

<p><h2>Що таке <a href="/about">Bike Web Service</a>?</h2></p>
    <h6><i>Це сервіс нашої системи онлайн покупки велосипедів, який підтримую конфідеційність введених вами даних на цьому сайті,
        та не запроваджує реальну покупку чогось на цьому сайті з приводу його не реальної праці, та з приводу мети сайта - бути прикладом,
        а не працюючим сервісом. 
    </i></h6>

<h3><i><p>Контакти:</p></i></h3>
    <h6><p>Номер адміністрації нашого сайту: +380668273421</p></h6>
    <h6><p>Інстаграм: https://www.instagram.com/Bike_Web/</p></h6>

{% endblock %}